/* Style sheet created by: Steven Cady, 06/14/22 */

/* Style for body specifies a background color */
body {
	background-color: #E0F0FF;
}

/* Styles for Mobile Layout */
img {
	max-width: 100%;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	text-align: center;
	padding: 0.2em;
	color: #000066;
}

#banner {
	text-align: center;
}

/* Style for nav specifies text properties */
nav {
	font-family: Lucida, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* Style specifies padding and margins for unordered lists */
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded
corners, removes bullet style, and applies margins and padding
for list items within the navigation */
nav li {
	background-color: #000066;
	list-style-type: none;
	margin: 0.4em;
	padding: 0.5em;
}

/* Style changes navigation link text color to white and removes
the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	background-color: #FFFFFF;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Style article h3 headers for mobile media */
article h3 {
	text-align: center;
}

/* Style figures for mobile media */
figure {
	text-align: center;
}

/* Style figue captions for mobile media */
figcaption {
	color: #000066
}

/* Style sections for mobile media */
section {
	padding: 1em;
}

/* Style articles for mobile media */
article {
	margin: 1em;
	padding: 1em;
	background-color: #ACB7E6;
}

/* Style input, select, and textarea */
input, select, textarea {
	display: block;
	margin-bottom: 1em;
}

/* Style labels */
label {
	display: block;
}

/* Style form list */
form ul {
	list-style-type: none;
}

/* Style svc class */
.svc {
	display: inline-block;
}

/* Style for tablet media */
@media only screen and (min-width: 481px) {

	/* Style nav line items inline with proper margins and padding */
	nav li {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 18%;
	}

	/* Style main to clear left */
	main {
		clear: left;
	}

	/* Style mobile div to not show content */
	.mobile {
		display: none;
	}
	
	/* Style desktop div to show content inline */
	.desktop {
		display: inline;
	}

	/* Style label for tablet */
	label {
		float: left;
		padding-right: 0.5em;
		text-align: right;
		width: 8em;
	}
}

@media only screen and (min-width: 930px) {

	/* Style for the container centers the page and specifies the width */
	#container {
		width: 80%;
	}

	/* Style nav list margins and padding */
	nav ul {
		margin: 0;
		padding-left: 0.50%;
		padding-right: 0.50%;
	}

	/* Style nav line items */
	nav li {
		border-radius: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 20%;
		white-space: nowrap;
	}

	/* Style nav line item anchors */
	nav li a {
		display: inline-block;
		padding: 0.7em;
		font-size: 1.25em;
	}

	/* Style main block */
	main {
		border: none;
		border-radius: 1em;
		box-shadow: 1em 1em 1em #331400;
		margin-top: 1em;
	}

	/* Style nav line item link */
	nav li a:link {
		color: #FFFFFF;
	}

	/* Style nav line item hover */
	nav li a:hover {
		color: #CCFFCC;
		font-size: 1.5em;
	}

	/* Style body with gradients */
	body {
		background: -moz-linear-gradient(#FFFFFF, #3366CC);
		background: -o-linear-gradient(#FFFFFF, #3366CC);
		background: -webkit-linear-gradient(#FFFFFF, #3366CC);
		background: linear-gradient(#FFFFFF, #3366CC);
	}

	section {
		height: 25em;
	}

	/* Style section articles for desktop */
	section article {
		width: 22%;
		float: left;
		height: 15em;
	}

	footer {
		clear: left;
	}
}